

/*.outer-border{
    border:1px solid #000;
}

.border-below{
    border-bottom: 1px solid #000;
}

.title-top-right{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size:14px;
     font-weight:bold;
     background-color:black; 
     color:white;
     text-align:center;
}

.cellborder-all{
    border: 1px solid #000;
}


.font-large{
    font-size:20px;
}



.company-section #ticker{
    font-size:10px;
   
}

#header{
   
}

#header .label-normal{
     font-size:9px;
}

.partition{
    border-right: 1px solid #000;
}

.projections table thead, td{
    font-size:8px;
    text-align:center;
}

#companydetails > td{
    border-bottom: 1px solid #000;
}

p{
    margin-top:5px;
    padding:5px;
    text-align:justify;
}

.commentary{
    vertical-align:top;font-size:10.5px
}

#yearlyGrid tr td{
    height:12px;
    font-size:8.5px;
    border-left:1px solid #000;
    border-right:1px solid #000;
}
#yearlyGrid thead td{
    font-weight:bold;
    font-size:9.5px;
    border:1px solid #000;
}


.insider-decisions th, .instituional-decisions th {
    font-size:9px;
    padding:1px;
}



.summary td{
    border:0.1px solid #000;
}

.summary-start td{
    border-top:1px solid #000;
}
.summary-end td{
    border-bottom:1px solid #000;
}

.qtrly-tbl td{
    border: 0px;
    text-align:center;
    font-size:8.5px;
}
.qtrly-tbl th{
    border: 0px;
    text-align:center;
    font-size:8.5px;
}


.qtrly-tbl .col-heading{
  text-align:center;
  width:25px;
}

.qtrly-tbl strong{
    font-size:8.5px;
    text-align:center;
    overflow-wrap: break-word;
}

.annual-tbl td{
    border: 0px;
    text-align:left;
    font-size:8.5px;
}
.annual-tbl th{
    border: 0px;
    text-align:left;
    font-size:8.5px;
}*/





