.field-validation-error {
    color: #dd4b39;
    font-weight: normal;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border-color: #dd4b39;
    box-shadow: none;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #dd4b39;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.avatar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 4px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

live {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
    cursor: pointer;
}

    live:hover {
        background-color: rgb(18, 176, 41);
        box-shadow: inset 0 0 0 99999px rgba(255,255,255,0.2);
    }

    live.label-danger {
        display: inline-block;       
        background-color: #f00;
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        padding: 0.2em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }

    live.label-primary {
          display: inline-block;       
        background-color: rgb(66, 139, 202);
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        padding: 0.2em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }

    live.label-success {
         display: inline-block;       
        background-color: rgb(18, 176, 41);
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        padding: 0.2em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }

.text > .toolbox {
    display: none;
    float: right;
    color: #dd4b39;
    padding-left: 2px;
    padding-right: 2px;
}

    .text > .toolbox > .fa {
        margin-right: 5px;
        cursor: pointer;
    }



.text:hover .toolbox {
    display: inline-block;
}



/*Notification Menu*/
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li {
    border-bottom: 1px solid #f4f4f4;
}

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li:hover {
        background: #f4f4f4;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > .ntools {
        display: none;
        float: right;
        color: #dd4b39;
        margin-top: 12px;
        margin-right: 5px;
        cursor: pointer;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li:hover .ntools {
        display: inline-block;
    }


label .fa {
    margin-right: 5px !important;
}

span.btnSpace {
    margin-left: 5px !important;
}
