@{
    Layout = "~/Areas/AdminServices/Views/Shared/_AdminServices_Layout.cshtml";
    ViewBag.Title = "Admin Services";
    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}


@{
    string UserName = (Session["UserName"] != null) ? Session["UserName"].ToString() : "";
}

<div class="content-wrapper">
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning" style="margin: 0px;height:600px;">
                    <div class="box-header with-border" style="text-align:center">
                        <h3 class="box-title">
                            <span style="color:#008000;font-style:italic;"><i class="fa fa-hand-o-right"></i> &nbsp;&nbsp;  Welcome To Administration Services Dashboard !!</span>
                        </h3>
                    </div>

                    <div class="box-footer">
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
