@model IEnumerable<IncedoReservoir.Areas.AdminServices.Models.ApplicationUsersViewModel>
@{
    if (Model != null && Model.Count() > 0)
    {
        <script>
            function edituser(e) {
                document.getElementById('lightEdit').style.display = 'block';
                document.getElementById('fade').style.display = 'block';
                var id = e.dataset.id;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EditUser", "ApplicationUsers")',
                    data: '{"id":"' + id + '"}',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data != null) {
                            $('#inputUserDisplayNameEdit').val(data.sDisplayName);
                            $('#inputUserLoginNameEdit').val(data.sLoginName);
                            $('#inputPasswordEdit').val(data.sLoginPassword);
                            $("#ddlUserTypeEdit").val(data.sUserType).change();
                            $("#ddlPrivilegeGroupEdit").val(data.tempAssignedPG).change();
                            $("#ddlUserActiveStatusEdit").val(data.iStatus).change();
                            $('#hdUserLoginNameEdit').val(data.sLoginName);
                            $('#hdUserIdToEdit').val(data.iUserID);
                            $('#btnEditSave').attr('data-id', id);
                            var array = data.tempAssignedServices.split(",");
                            $.each(array, function (iServiceId) {

                                var items = $('#tblAssignedServicesEdit input[type=checkbox]');
                                for (var i = 0; i < items.length; i++) {
                                    if (items[i].value == array[iServiceId]) {
                                        items[i].checked = true;
                                        break;
                                    }
                                }
                            });
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });
            }

        </script>


        <table id="tblCustomerInfo" class="tblConedInfo table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>Login Name</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var mod in Model)
                    {
                <tr>
                    <td style="max-width:500px;">@mod.sDisplayName</td>
                    <td>@mod.sLoginName</td>

                    <td><button id="btnAddUser" data-id="@mod.iUserID" onclick="edituser(this)" class="btn btn-danger pull-right" style="margin-right: 20px;"><i class="fa fa-edit"></i><span class="btnSpace">Edit User</span></button>
                </tr>
                    }
                }
            </tbody>
        </table>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <h4><i class="icon fa fa-ban"></i>Alert !</h4>
                            None Of The User Details Found, Please Try Again !!
                        </div>

                    }
}