@model IncedoReservoir.Models.LoginViewModel
@{ Layout = null;
    ViewBag.Title = "Log in";
    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}
<link href="~/Content/css/loginstyle.css" rel="stylesheet" />
<style>
    .illustrationClass {
        background-image: url('../../Content/images/illustration.jpg');
    }
</style>
<div id="fullPage">
    <div id="brandingWrapper" class="float">
        <div id="branding" class="illustrationClass"></div>
    </div>
    <div id="contentWrapper" class="float" style="background-image: linear-gradient(#DCDCDC, #FFFFFF);">
        <div id="content">
            <div id="header">
                <img src="~/Content/images/indecologo.png" alt="INCEDO" />
            </div>
            <div id="workArea">
                <div id="updatePasswordArea">
                    <form method="post">
                        <div class="groupMargin" style="display: none">
                            <span id="expiredNotification"></span>
                        </div>
                        <div class="groupMargin" style="font-size:20px;border-bottom-color:red;">
                            Login : <span style="color:#f24700; font-weight:bolder">Incedo </span> Reservoir
                        </div>

                        <div class="groupMargin" style="display: none">
                            <span id="expiredNotification"></span>
                        </div>

                        <div id="error" class="fieldMargin error smallText">
                            <label id="errorText" for=""></label>
                        </div>

                        <div id="newPasswordArea">
                            <input type="text" name="form-username" placeholder="Username..." autocomplete="off" class="text fullWidth" id="form-username">
                            @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div id="confirmNewPasswordArea">
                            <input type="password" name="form-password" placeholder="Password..." autocomplete="off" class="text fullWidth" id="form-password">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            @*<input id="confirmNewPasswordInput" name="ConfirmNewPassword" type="password" class="text fullWidth"
                                tabindex="4" placeholder="Confirm new password" autocomplete="off" />*@
                        </div>

                        <div id="submissionArea" class="submitMargin">
                            <input id="submitButton" type="button" name="Submit" value="Submit"
                                   style="min-width:80px;height:30px;border-style:solid;border-width:1px;background-color:rgb(38, 114, 236);padding: 4px 20px 6px 20px;color: rgb(255, 255, 255);cursor: pointer;margin-bottom: 8px;" tabindex="5" onclick="return UserLogin()" />
                            <input id="cancelButton" type="button" name="Cancel" value="Cancel"
                                   style="min-width:80px;height:30px;border-style:solid;border-width:1px;background-color:rgb(38, 114, 236);padding: 4px 20px 6px 20px;color: rgb(255, 255, 255);cursor: pointer;margin-bottom: 8px;" tabindex="6" onclick="return Cancel()" />

                        </div>
                    </form>

                    <div id="introduction" class="groupMargin">
                        Please enter your Account User Name and Password, for Authentication and Authorization into <span style="color:#f24700; font-weight:bolder">Incedo </span>Reservoir.
                    </div>

                </div>

            </div>
            <div id="footerPlaceholder"></div>
        </div>
        <div id="footer">
            <div id="footerLinks" class="floatReverse">
                <div><span id="copyright">&#169; Copyright ® 2020 <span style="color:#f24700; font-weight:bolder">Incedo Inc.</span> India</span><a id="helpDesk" class="pageLink" href="https://helpdesk.incedoinc.com/"><span style="color:#f24700; font-weight:bolder">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incedo</span> HelpDesk</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Javascript -->

<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.backstretch.min.js"></script>
<script src="~/Scripts/scripts.js"></script>
<script>
    function UserLogin() {

        var n = document.getElementById("form-username").value;
        var p = document.getElementById("form-password").value;
        var postObj = JSON.stringify({
            username: n,
            password: p
        });
        $.ajax({
            url: "/Login/UserLogin", // endpoint
            type: "POST",
            data: postObj,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data === "1") {
                    window.location.href = '/SwitchBoard/Index/';
                }
            },
            error: function (errorData) { onError(errorData); }
        });
    }
</script>

