<h2>Index</h2>
@{
    Layout = "~/Areas/InventoryServices/Views/Shared/_InventoryServices_Layout.cshtml";
    ViewBag.Title = "Inventory Services";
    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}

@{
    string UserName = (Session["UserName"] != null) ? Session["UserName"].ToString() : "";
}


@section scripts {

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>*@

   
    <script src="~/Content/js/highcharts.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("IRDevicesSummaryDashboard", "Dashboard")',
                type: 'post',
                datatype: 'json',
                data: { iAction: 1 },
                success: function (data) {
                    if (data != null && data != '') {
                        var respObj = $.parseJSON(data);
                        if (respObj != null && respObj.tblCustomerList_Data != null) {
                            var arrYears = respObj.tblCustomerList_Data.map(function (obj) { return obj.ServiceName; });
                            var arrCounts = respObj.tblCustomerList_Data.map(function (obj) { return obj.ServiceCount; });
                            if (respObj.tblCustomerList_Data.length == 0 || arrCounts.length == 0) {
                                $('.deviceservice-activity-container').hide();
                                return;
                            }

                            var nonZeroCount = arrCounts.filter(isNonZeroCount);
                            if (arrYears.length > 0 && arrCounts.length > 0) {
                                $('#deviceservicecontainer').empty();
                                LoadHighChartDeviceServices(arrYears, arrCounts);
                            }
                        }
                    }
                },
                error: function (data) {
                    //fnShowMessageBox("Publication", "Failed to Load Data", 1, null, null);
                }
            });

        });

        function LoadHighChartDeviceServices(arrTypes, arrCounts) {
            $('#deviceservicecontainer').highcharts({
                colors: ["#8F1E1A", "#ff0059", "#a500ff", "#ff0800", "#58ff00"],
                chart: {
                    type: 'column',
                    margin: [50, 50, 200, 80]
                },
                title: {
                    //text: 'PECO Top 10 Customers By Yearly Usage',
                    text: '',
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                xAxis: {
                    categories: arrTypes,
                    labels: {
                        x: 5,
                        y: 20,
                        rotation: -40,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Arial',
                            margin: [50, 0, 0, 0]
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    allowDecimals: false,
                    title: {
                        text: 'Service Wise Device Count',
                        style: {
                            fontFamily: 'Arial'
                        }
                    },
                    labels: {
                        style: {
                            fontFamily: 'Arial'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    //pointFormat: 'Publications in {point.key}: <b>{point.y:.1f} millions {point.x}</b>',
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                series: [{
                    name: 'Service Wise Device Count',
                    data: arrCounts,
                    dataLabels: {
                        enabled: false,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 3,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Arial',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
            });
        }


        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("IRDevicesSummaryDashboard", "Dashboard")',
                type: 'post',
                datatype: 'json',
                data: { iAction: 2 },
                success: function (data) {
                    if (data != null && data != '') {
                        var respObj = $.parseJSON(data);
                        if (respObj != null && respObj.tblCustomerList_Data != null) {
                            var arrYears = respObj.tblCustomerList_Data.map(function (obj) { return obj.LocationName; });
                            var arrCounts = respObj.tblCustomerList_Data.map(function (obj) { return obj.LocationCount; });
                            if (respObj.tblCustomerList_Data.length == 0 || arrCounts.length == 0) {
                                $('.devicelocation-activity-container').hide();
                                return;
                            }

                            var nonZeroCount = arrCounts.filter(isNonZeroCount);
                            if (arrYears.length > 0 && arrCounts.length > 0) {
                                $('#devicelocationcontainer').empty();
                                LoadHighChartDeviceLocations(arrYears, arrCounts);
                            }
                        }
                    }
                },
                error: function (data) {
                    //fnShowMessageBox("Publication", "Failed to Load Data", 1, null, null);
                }
            });

        });



        function LoadHighChartDeviceLocations(arrTypes, arrCounts) {
            $('#devicelocationcontainer').highcharts({
                colors: ["#8F1E1A", "#ff0059", "#a500ff", "#ff0800", "#58ff00"],
                chart: {
                    type: 'column',
                    margin: [50, 50, 200, 80]
                },
                title: {
                    //text: 'PECO Top 10 Customers By Yearly Usage',
                    text: '',
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                xAxis: {
                    categories: arrTypes,
                    labels: {
                        x: 5,
                        y: 20,
                        rotation: -40,
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Arial',
                            margin: [50, 0, 0, 0]
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    allowDecimals: false,
                    title: {
                        text: 'Location Wise Device Count',
                        style: {
                            fontFamily: 'Arial'
                        }
                    },
                    labels: {
                        style: {
                            fontFamily: 'Arial'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    //pointFormat: 'Publications in {point.key}: <b>{point.y:.1f} millions {point.x}</b>',
                    style: {
                        fontFamily: 'Arial'
                    }
                },
                series: [{
                    name: 'Location Wise Device Count',
                    data: arrCounts,
                    dataLabels: {
                        enabled: false,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 3,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Arial',
                            textShadow: '0 0 3px black'
                        }
                    }
                }]
            });
        }

        function isNonZeroCount(x) {
            return x > 0;
        }
    </script>

}

<div class="content-wrapper">
    <section class="content" style="margin-top:-60px;">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning" style="margin: 0px;height:1000px;">
                    <div class="box-header with-border" style="text-align:left">
                        <h3 class="box-title">
                            <span style="color:#008000;font-style:italic;"><i class="fa fa-hand-o-right"></i> &nbsp;&nbsp;  Welcome To <span style="color:#f24700; font-weight:bolder">Incedo </span> Reservoir Services Dashboard !!</span>
                        </h3>
                    </div>

                    <div class="row" style="height:4px;"></div>
                    <div class="box-body">
                        <div class="row" style="background-color:#3090C7;margin-left:15px; margin-right:15px;border-radius:5px;">
                            <div class="col-md-9" style="margin-left:0px; margin-top:5px; font-size:15px;height:35px;">
                                <img src="~/content/images/serviceterminal.png" style="height:30px; width:30px;" />&nbsp;
                                Top 10 Service Wise Device Count &nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="border-radius: .10rem;">
                                <article class="content-block deviceservice-activity-container">
                                    <div class="card" style="width:90%;height:320px; text-align:left; margin:20px auto auto auto;">
                                        <div class="card-body" id="deviceservicecontainer">

                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        @*<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>*@
                    </div>
                    <div class="row" style="height:20px;"></div>
                    <div class="box-body">
                        <div class="row" style="background-color:#3090C7;margin-left:15px; margin-right:15px;border-radius:5px;">
                            <div class="col-md-9" style="margin-left:0px; margin-top:5px; font-size:15px;height:35px;">
                                <img src="~/content/images/location.png" style="height:30px; width:30px;" />
                                Top 10 Location Wise Device Count &nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="border-radius: .10rem;">
                                <article class="content-block devicelocation-activity-container">
                                    <div class="card" style="width:90%; text-align:left; margin:20px auto auto auto;">
                                        <div class="card-body" id="devicelocationcontainer">

                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        @*<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>*@
                    </div>
                    <div class="box-footer">
                        @*<span class="text-danger" id="serachErrorMsg" style="display:none;">Please enter utility account number or phone number to search the customer information.</span>*@

                        <div class="alert alert-success" id="serachErrorMsg" style="display:none">
                            <h4><i class="icon fa fa-ban"></i>Information !</h4>
                            Customer is Enroll-able !!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
